{% extends 'hostel/base.html' %}

{% block title %}Add Student - SmartHostel{% endblock %}

{% block content %}
<h1>Add New Student</h1>
<a href="/students/">← Back to Students</a>

<form method="POST" class="bg-white p-4 rounded mt-3" style="max-width: 500px;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-dark">Save Student</button>
</form>
{% endblock %}


def edit_student(request, pk):
    student = get_object_or_404(Student, pk=pk)
    if request.method == 'POST':
        form = StudentForm(request.POST, instance=student)
        if form.is_valid():
            form.save()
            return redirect('student_list')
    else:
        form = StudentForm(instance=student)
    return render(request, 'hostel/add_student.html', {'form': form})


def delete_student(request, pk):
    student = get_object_or_404(Student, pk=pk)
    if request.method == 'POST':
        student.delete()
        return redirect('student_list')
    return render(request, 'hostel/confirm_delete.html', {'object': student})